<div ng-controller="ConnexionController as conCtrl">
	<div ng-controller="MenuController as menCtrl">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Menu Tablette, PC -->
				<ul class="hidden-xs nav navbar-nav">
					<li><span class="navbar-brand">M&eacute;dia :</span></li>
					<li><a ng-click="menCtrl.showMedias()" href=""><span
							class="glyphicon glyphicon-search"></span><span class="hidden-sm">
								Recherche</span></a></li>
					<li><a ng-click="menCtrl.showCreationMedias()" href=""><span
							class="glyphicon glyphicon-plus"></span><span class="hidden-sm">
								Cr&eacute;ation</span></a></li>
		
					<li><span
						class="navbar-brand glyphicon glyphicon-option-vertical"></span></li>
		
					<li><span class="navbar-brand">Adh&eacute;rent :</span></li>
					<li><a ng-click="menCtrl.showAdherents()" href=""><span
							class="glyphicon glyphicon-search"></span><span class="hidden-sm">
								Recherche</span></a></li>
					<li><a ng-click="menCtrl.showCreationAdherents()" href=""><span
							class="glyphicon glyphicon-plus"></span><span class="hidden-sm">
								Cr&eacute;ation</span></a></li>
		
					<li><a ng-click="conCtrl.deconnexion()" href=""><span
							class="glyphicon glyphicon-log-out"></span><span class="hidden-sm">
								D&eacute;connexion</span></a></li>
								
				</ul>
		
				<!-- Menu Téléphone -->
				
				<ul class="nav navbar-nav visible-xs-block">
					<li class="col-xs-6 dropdown"><a href=""
						class="col-xs-12 dropdown-toggle navbar-brand"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">M&eacute;dia <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="menCtrl.showMedias()" href=""><span
									class="glyphicon glyphicon-search"></span><span> Recherche</span></a></li>
							<li><a ng-click="menCtrl.showCreationMedias()" href=""><span
									class="glyphicon glyphicon-plus"></span><span> Cr&eacute;ation</span></a></li>
						</ul></li>
					<li class="col-xs-6 dropdown"><a href=""
						class="col-xs-12 dropdown-toggle navbar-brand"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Adh&eacute;rent <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="menCtrl.showAdherents()" href=""><span
									class="glyphicon glyphicon-search"></span><span> Recherche</span></a></li>
							<li><a ng-click="menCtrl.showCreationAdherents()" href=""><span
									class="glyphicon glyphicon-plus"></span><span> Cr&eacute;ation</span></a></li>
						</ul></li>
						
				</ul>
			</div>
		</nav>
	</div>
</div>
